<header class="bg-light-blue text-white font-helvetica mb-4">
  <nav class="m-auto flex justify-between items-center min-h-[3rem] w-[95%]">
    <div>
      <a href="/" class="hover:text-lighter-blue font-extrabold text-xl"
        >Ideas for Meals</a
      >
    </div>
    <div class="flex items-center gap-4">
      <a
        routerLink="/diet"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="hover:text-lighter-blue font-bold"
        >DIET</a
      >
    </div>
    <div>
      <app-auth-button />
    </div>
  </nav>
</header>
