<header class="bg-light-blue text-white font-helvetica">
  <nav class="m-auto flex justify-between items-center min-h-[3rem] w-[95%]">
    <div>
      <a href="/" class="hover:text-lighter-blue font-extrabold text-xl"
        >Ideas for Meals</a
      >
    </div>
    <div class="flex items-center gap-4">
      <a
        routerLink="/diet"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        class="hover:text-lighter-blue"
        >DIET</a
      >
    </div>
    <div>
      <button
        class="bg-primary-blue text-white px-5 py-2 rounded-full hover:bg-lighter-blue hover:text-black"
      >
        Sign in
      </button>
    </div>
  </nav>
</header>