<div class="diet mx-3">
  <h1 class="font-bold text-3xl mb-3">Current diet</h1>
  <h2 class="text-xl mb-3">Adding foods to your diet</h2>
  <p class="mb-3">Here you will be able to add foods to your diet.</p>
  <app-add-food (onAdding)="refreshOnAdding()" />
  <h2 class="text-xl mb-3">Removing foods from your diet</h2>
  <p>Select any number of foods you want to remove of your diet.</p>
  <p class="mb-3">
    Then you can go at the bottom of the page to press the button to confirm.
  </p>
  <div class="grid grid-cols-4 gap-4 mb-3">
    @for (food of diet$ | async; track food.id) {
    <div
      class="food-card rounded shadow-lg max-w-sm bg-dark-blue text-center p-2"
      (click)="toggleFood($event)"
      [attr.data-food-id]="food.id"
    >
      <h3 class="font-bold text-xl p-1">{{ food.name }}</h3>
      <div class="hr bg-[#343434]"></div>
      <p class="text-sm p-1">{{ food.foodGroup.name }}</p>
    </div>
    } @empty {
    <p>Loading...</p>
    }
  </div>
  <button
    (click)="removeFromDiet()"
    class="bg-red-500 hover:bg-red-700 font-bold py-2 px-4 rounded font-helvetica text-sm"
  >
    REMOVE
  </button>
</div>
