<div class="idea-for-meal">
  <h2 class="text-xl mb-2">Idea for meal</h2>
  @if (ideaForMeal$ | async; as ideaForMeal) {
  <table class="table-auto">
    <tr>
      <th>Carbs</th>
      <td>{{ ideaForMeal.carbohydrate }}</td>
    </tr>
    <tr>
      <th>Proteins</th>
      <td>{{ ideaForMeal.protein }}</td>
    </tr>
    <tr>
      <th>Veggies</th>
      <td>{{ ideaForMeal.vegetable }}</td>
    </tr>
    <tr>
      <th>Dessert</th>
      <td>{{ ideaForMeal.fruit }}</td>
    </tr>
  </table>
  } @else {
  <p>Loading...</p>
  }
</div>
