<div class="idea-for-meal font-helvetica">
  <h2 class="text-xl mb-2">Idea for meal</h2>
  @if (ideaForMeal) {
  <table class="table-auto mb-2">
    <tr (click)="toggleFood($event)" data-food-group="carbohydrate">
      <th>Carbs :</th>
      <td>{{ ideaForMeal.carbohydrate }}</td>
    </tr>
    <tr (click)="toggleFood($event)" data-food-group="protein">
      <th>Proteins :</th>
      <td>{{ ideaForMeal.protein }}</td>
    </tr>
    <tr (click)="toggleFood($event)" data-food-group="vegetable">
      <th>Veggies :</th>
      <td>{{ ideaForMeal.vegetable }}</td>
    </tr>
    <tr (click)="toggleFood($event)" data-food-group="fruit">
      <th>Dessert :</th>
      <td>{{ ideaForMeal.fruit }}</td>
    </tr>
  </table>
  } @else {
  <p>Loading...</p>
  }
  <button
    class="block bg-light-blue hover:bg-green-500 font-bold py-2 px-4 rounded text-sm"
    (click)="generateNewIdea()"
  >
    Generate new idea
  </button>
</div>
