/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-black: #343434;
  --dark-blue: #4f6d7a;
  --light-blue: #3e78b2;
  --lighter-blue: #c0d6df;
  --light-grey: #eaeaea;
  --dark-grey: #b3b3b3;
  --light-red: #ea9e8d;
}

.hr {
  position: relative;
  left: 10%;
  width: 80%;
  height: 1.5px;
}
